@page
@model DetRigtigeSemesterProjekt.Pages.CRUDs.CreateTrænerModel
@{
}
@* <form method="post">
    <div class="form-group">
        <label asp-for="@Model.Træner.Id" class="control-lable"></label>
        <input asp-for="@Model.Træner.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Træner.Name" class="control-lable"></label>
        <input asp-for="@Model.Træner.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Træner.Tlf" class="control-lable"></label>
        <input asp-for="@Model.Træner.Tlf" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Træner.Mail" class="control-lable"></label>
        <input asp-for="@Model.Træner.Mail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Træner.Wage" class="control-lable"></label>
        <input asp-for="@Model.Træner.Wage" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Træner.HoursWorked" class="control-lable"></label>
        <input asp-for="@Model.Træner.HoursWorked" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"
    </div>
</form> *@