@page
@model DetRigtigeSemesterProjekt.Pages.HoldListe.GetAllHoldModel
@{
}

<h1 class="overskrift">Holdliste</h1>
<!-- (Thomas)For at vi har kunnet styre layout på vores hjemmeside, anvender vi Bootstrap grids. Dette gør det nemmere at rykke rundt på hjemmesiden, da den er delt i 12 colloner. -->
<div class="row">
    <div class="col-4"><h5>Søg efter hold</h5></div>
    <div class="col-4"></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <input asp-for="SearchString" class="form-control mr-1" placeholder="Indtast holdnavn" />
            <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn btn-primary" />
        </form>
    </div>


    <div class="col-2"></div>


</div>


<!-- (Thomas) Her bliver tabellen med vores data oprettet, samt bliver der leget med længden på collumsne-->
<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
    <col style="width: 3%" />
    <col style="width: 15%" />
    <col style="width: 30%" />
    <col style="width: 20%" />
    <col style="width: 15%" />
    <thead>
        <tr class="btn-secondary active">
            <th>
                Id
            </th>
            <th>
                Træner
            </th>
            <th>
                Hund
            </th>
            <th>
                HundeEjer
            </th>
            <th>
                Location
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.HoldListe != null)
        {
            foreach (var hold in Model.HoldListe)
            {
                <tr class="btn-secondary">
                    <td>
                        @hold.Id
                    </td>
                    <td>
                        @hold.Træner
                    </td>
                    <td>
                        @hold.Hund
                    </td>
                    <td>
                        @hold.HundeEjer
                    </td>
                    <td>
                        @hold.Location
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditHold" asp-route-id="@hold.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-page="DeleteHold" asp-route-id="@hold.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- (Thomas) Her oprettes der en knap, som der kan klikkes på også bliver man reroutet til vores razorpage "CreateHold" -->
<p>
    <a class="btn btn-primary" asp-page="CreateHold">Opret Hold</a>
</p>








